/* GIS map */

.map {
  position: absolute;
  top: 0;
  left: 0;
}

.map-sphere {
  stroke: #000;
  stroke-width: 1.5px;
  stroke-opacity: .3;
  fill: none;
}

.map-graticule {
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .2;
  fill: transparent;
}

.map-feature {
  stroke: #fff;
  stroke-width: .5px;
}

.country {
  cursor: pointer;
}

/* total emissions bar */

.emissions {
  stroke: white;
  stroke-width: 0.5;
}

.emissions .label {
  fill: black;
  stroke: none;
}

.emissions .label text {
  font-family: Roboto, sans-serif;
  font-size: 8pt;
}

.emissions .label path {
  stroke: black;
  fill: black;
}

.axis .tick text {
  font-family: Roboto, sans-serif;
  font-size: 8pt;
  fill: black;
}

.axis .tick line {
  stroke: black;
}

/* HTML dropdown */

.map-select {
  position: absolute;
  top: 10px;
  left: 10px;
  user-select: none;
}
