/* GRI demo API application CSS */

#gri-map {
}

#gri-detail {
  position: absolute;
  top: 20px;
  border: 1px solid lightgray;
  padding: 2px;
  background: white;
}

#gri-detail iframe {
  width: 420px;
  height: 420px;
}

#gri-detail.inactive {
  display: none;
}

#gri-detail .close {
  position: relative;
  color: white;
  background: lightgrey;
  height: 25px;
}

#gri-detail .close::after {
  position: absolute;
  top: 0;
  left: 95%;
  content: '[x]';
  cursor: pointer;
}
