/* GRI demo API application CSS */

/* NB iframe dimensions are calculated dyamically from DV size */

#gri-map {
}

#gri-detail {
  position: absolute;
  top: 20px;
  border: 1px solid lightgray;
  padding: 2px;
  background: white;
}

#gri-detail.inactive {
  display: none;
}

#gri-detail .close {
  display: block;
  position: relative;
  color: white;
  background: lightgrey;
  height: 25px;
  margin: 2px;
  cursor: pointer;
}

/* HTML dropdown */

.map-select {
  position: absolute;
  top: 10px;
  left: 10px;
  user-select: none;
}
