/* GRI demo API application CSS */

/* NB iframe dimensions are calculated dyamically from DV size */

#gri-map {
}

#gri-detail {
  position: absolute;
  top: 20px;
  border: 1px solid lightgray;
  padding: 2px;
  background: white;
}

#gri-detail.inactive {
  display: none;
}

#gri-detail .close {
  display: block;
  position: relative;
  color: white;
  background: lightgrey;
  height: 25px;
  margin: 2px;
  cursor: pointer;
}

/* HTML dropdown */

.map-select {
  position: absolute;
  top: 10px;
  left: 10px;
  user-select: none;
}

/* Instructions popup */

.arrow_box {
  top: 50px;
  left: 25px;
  width: 150px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 11pt;
  cursor: pointer;
}

.arrow_box {
	position: relative;
	background: orange;
	border: 1px solid orange;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(213, 207, 34, 0);
	border-bottom-color: orange;
	border-width: 5px;
	margin-left: -5px;
}
.arrow_box:before {
	border-color: rgba(245, 222, 181, 0);
	border-bottom-color: orange;
	border-width: 6px;
	margin-left: -6px;
}
